Repository guilhermelMoraes/beyond-the-system__front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn lint:css

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,md,json}": "yarn lint",
  "src/**/*.css": "yarn lint:css"
}

chore: updating linters rules
  .eslintrc.json
  .stylelintrc.json
Due: none

chore: removing unused file
  src/App.tsx
Due: yarn lint

feat: adding bootstrap, react-router-dom and hook-forms
  package.json
  src/app-routing.tsx
  src/index.css
  src/main.tsx
  yarn.lock
Due: yarn lint, yarn lint:css

feat: adding apply-form component
  src/apply-form/apply-form.module.css
  src/apply-form/apply-form.tsx
Due: yarn lint, yarn lint:css

refactor(application-form): renaming component
  src/app-routing.tsx
  src/application-form/application-form.module.css
  src/application-form/application-form.tsx
  src/apply-form/apply-form.tsx
Due: yarn lint, yarn lint:css

feat(application-form): adding mock data
  src/application-form/application-form.data.ts
Due: yarn lint

feat(application-form): adding interfaces
  src/application-form/application-form.interfaces.ts
Due: yarn lint

style(application-form): updating form visual and new palette class
  src/application-form/application-form.module.css
  src/application-form/application-form.tsx
  src/index.css
Due: yarn lint, yarn lint:css

feat(application-form): populating form with dynamic data
  .eslintrc.json
  src/application-form/application-form.tsx
Due: yarn lint

chore(application-form): reset city selection on state update
  src/application-form/application-form.tsx
Due: yarn lint

chore: update app title
  index.html
Due: none

feat(application-form): adding form validation
  .eslintrc.json
  package.json
  src/application-form/application-form.interfaces.ts
  src/application-form/application-form.tsx
  src/index.css
  yarn.lock
Due: yarn lint, yarn lint:css

refactor(application-form): updating "watch" method
  src/application-form/application-form.tsx
Due: yarn lint

refactor(application-form): abstracting repeated code into component
  src/application-form/application-form.tsx
  src/components/select.tsx
Due: yarn lint

refactor(select): removing forwarded ref and using "Control" api
  src/application-form/application-form.tsx
  src/components/select.tsx
Due: yarn lint

style: incrementing .muralis selector
  src/index.css
Due: yarn lint:css

fix: adding "disabled" attribute to select's default option
  src/components/select.tsx
Due: yarn lint

feat: adding json-server to mock data
  data/fake-api.json
  package.json
Due: none

feat: adding notification component
  package.json
  src/components/notification.tsx
  src/index.css
  src/main.tsx
Due: yarn lint, yarn lint:css

feat(application-form): adding HTTP submission method to component
  package.json
  src/application-form/application-form.tsx
  yarn.lock
Due: yarn lint

refactor(application-form): updating interfaces
  src/application-form/application-form.data.ts
  src/application-form/application-form.interfaces.ts
Due: yarn lint

refactor(application-form): fetching select options from fake api
  src/application-form/application-form.tsx
Due: yarn lint

chore: moving components to another directory
  src/common/components/notification.tsx
  src/common/components/select.tsx
Due: yarn lint

chore(application-form): updating http endpoints and base url
  data/fake-api.json
  src/application-form/application-form.tsx
Due: yarn lint

style(application-form): adding success notification on success submission
  src/application-form/application-form.tsx
  src/common/components/notification.tsx
Due: yarn lint

feat(dashboard): introducing new component
  src/app-routing.tsx
  src/dashboard/account.png
  src/dashboard/dashboard.module.css
  src/dashboard/dashboard.tsx
Due: yarn lint, yarn lint:css

chore: remove unused file
  src/application-form/application-form.data.ts
Due: yarn lint

style: adding new global css variable
  src/index.css
Due: yarn lint:css

style(application-form): adding missing css class to h1
  src/application-form/application-form.tsx
Due: yarn lint

feat(root): adding new component
  src/dashboard/dashboard.module.css
  src/dashboard/dashboard.tsx
  src/root/account.png
  src/root/root.module.css
  src/root/root.tsx
  src/root/sidepanel.tsx
Due: yarn lint, yarn lint:css

feat(dashboard): new route for dashboard component
  src/app-routing.tsx
Due: yarn lint

feat(chart.js): adding new charts library
  package.json
  yarn.lock
Due: none

feat(application-form): adding timestamp for each application
  src/application-form/application-form.tsx
Due: yarn lint

style(root): updating min-height from application's interface
  .stylelintrc.json
  src/root/root.module.css
Due: yarn lint:css

feat(dashboard): add bar chart to component and error displaying method
  src/application-form/application-form.tsx
  src/common/error/display-error.tsx
  src/dashboard/dashboard.module.css
  src/dashboard/dashboard.tsx
Due: yarn lint, yarn lint:css

fix(react): removing strict mode, as it was breaking chart.js
  src/main.tsx
Due: yarn lint

chore: adding interface to applicant payload
  src/application-form/application-form.interfaces.ts
  src/application-form/application-form.tsx
Due: yarn lint

style: making sidepanel sticky
  src/root/root.module.css
  src/root/sidepanel.tsx
Due: yarn lint, yarn lint:css

feat(dashboard): adding doughnut chart with form data
  src/dashboard/dashboard.module.css
  src/dashboard/dashboard.tsx
Due: yarn lint, yarn lint:css

chore: adding fake data to json-server
  data/fake-api.json
Due: none
